body {
  background-color: black;
  font-size: 50px;
}

.selections {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
}

.players {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  font-size: 50px;
}

.score {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  font-size: 50px;
  color: aquamarine;
}

.selection {
  font-size: 50px;
  margin: 20px;
  cursor: pointer;
}

.zoom {
  transition: transform 0.5s; /* Animation */
}

.zoom:hover {
  transform: scale(1.5);
}
